<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import bootstrap.css-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="./css/app.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <%- include('./partial/navigation') %>
    <body>
        <div class="container">
            <table class="table table-striped"> 
                <thead>
                    <tr>
                        <th>City</th>
                        <th>Pressure</th>
                        <th>Temp.</th>
                        <th>Humidity</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<city.length; i++){ %>
                        <tr>
                            <td><%= city[i].name %></td>
                            <td><%= city[i].pressure %></td>
                            <td><%= city[i].tempurature %></td>
                            <td><%= city[i].humidity %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
      <!--Import jQuery before bootstrap.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </body>
</html>